# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# pycharm files
.idea

# Scratchpath
scratch.py

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/settings.json
.snap/
.vscode/
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_Normalisation
.snap/auxdata/color_palettes/AlosAV2_color_palette.cpd
.snap/auxdata/color_palettes/AlosPRI_color_palette.cpd
.snap/auxdata/color_palettes/Deimos_color_palette.cpd
.snap/auxdata/color_palettes/Ikonos_color_palette.cpd
.snap/auxdata/color_palettes/Kompsat_color_palette.cpd
.snap/auxdata/color_palettes/Pleiades_color_palette.cpd
.snap/auxdata/color_palettes/RapidEye_color_palette.cpd
.snap/auxdata/color_palettes/Spot_color_palette.cpd
.snap/auxdata/color_palettes/Spot6_color_palette.cpd
.snap/auxdata/color_palettes/wew_water_chl.cpd
.snap/auxdata/color_palettes/wew_water_tau.cpd
.snap/auxdata/color_palettes/wew_water_tsm.cpd
.snap/auxdata/color_palettes/wew_water_wlr.cpd
.snap/auxdata/color_palettes/wew_water_yel.cpd
.snap/auxdata/color_palettes/WorldView_color_palette.cpd
.snap/auxdata/color_palettes/WorldView2ESA_color_palette.cpd
.snap/auxdata/gdal/gdal-3-0-0/bin/gdal_contour
.snap/auxdata/gdal/gdal-3-0-0/bin/gdal_grid
.snap/auxdata/gdal/gdal-3-0-0/bin/gdal_rasterize
.snap/auxdata/gdal/gdal-3-0-0/bin/gdal_translate
.snap/auxdata/gdal/gdal-3-0-0/bin/gdal-config
.snap/auxdata/gdal/gdal-3-0-0/bin/gdaladdo
.snap/auxdata/gdal/gdal-3-0-0/bin/gdalbuildvrt
.snap/auxdata/gdal/gdal-3-0-0/bin/gdaldem
.snap/auxdata/gdal/gdal-3-0-0/bin/gdalenhance
.snap/auxdata/gdal/gdal-3-0-0/bin/gdalinfo
.snap/auxdata/gdal/gdal-3-0-0/bin/gdallocationinfo
.snap/auxdata/gdal/gdal-3-0-0/bin/gdalmanage
.snap/auxdata/gdal/gdal-3-0-0/bin/gdalserver
.snap/auxdata/gdal/gdal-3-0-0/bin/gdalsrsinfo
.snap/auxdata/gdal/gdal-3-0-0/bin/gdaltindex
.snap/auxdata/gdal/gdal-3-0-0/bin/gdaltransform
.snap/auxdata/gdal/gdal-3-0-0/bin/gdalwarp
.snap/auxdata/gdal/gdal-3-0-0/bin/gnmanalyse
.snap/auxdata/gdal/gdal-3-0-0/bin/gnmmanage
.snap/auxdata/gdal/gdal-3-0-0/bin/nearblack
.snap/auxdata/gdal/gdal-3-0-0/bin/ogr2ogr
.snap/auxdata/gdal/gdal-3-0-0/bin/ogrinfo
.snap/auxdata/gdal/gdal-3-0-0/bin/ogrlineref
.snap/auxdata/gdal/gdal-3-0-0/bin/ogrtindex
.snap/auxdata/gdal/gdal-3-0-0/bin/testepsg
.snap/auxdata/gdal/gdal-3-0-0/java/gdal.jar
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/bag_template.xml
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/cubewerx_extra.wkt
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/default.rsc
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ecw_cs.wkt
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/eedaconf.json
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/epsg.wkt
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/esri_StatePlane_extra.wkt
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/gdalicon.png
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/GDALLogoBW.svg
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/GDALLogoColor.svg
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/GDALLogoGS.svg
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/gdalvrt.xsd
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/gml_registry.xml
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/gmlasconf.xml
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/gmlasconf.xsd
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/gt_datum.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/gt_ellips.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/header.dxf
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/inspire_cp_BasicPropertyUnit.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/inspire_cp_CadastralBoundary.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/inspire_cp_CadastralParcel.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/inspire_cp_CadastralZoning.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_AdmArea.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_AdmBdry.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_AdmPt.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_BldA.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_BldL.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_Cntr.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_CommBdry.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_CommPt.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_Cstline.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_ElevPt.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_GCP.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_LeveeEdge.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RailCL.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RdArea.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RdASL.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RdCompt.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RdEdg.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RdMgtBdry.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RdSgmtA.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_RvrMgtBdry.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_SBAPt.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_SBArea.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_SBBdry.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_WA.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_WL.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_WStrA.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/jpfgdgml_WStrL.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/LICENSE.TXT
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/netcdf_config.xsd
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/nitf_spec.xml
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/nitf_spec.xsd
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ogrvrt.xsd
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/osmconf.ini
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ozi_datum.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ozi_ellips.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/pci_datum.txt
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/pci_ellips.txt
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/pdfcomposition.xsd
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/pds4_template.xml
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/plscenesconf.json
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ruian_vf_ob_v1.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ruian_vf_st_uvoh_v1.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ruian_vf_st_v1.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/ruian_vf_v1.gfs
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/s57agencies.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/s57attributes.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/s57expectedinput.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/s57objectclasses.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/seed_2d.dgn
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/seed_3d.dgn
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/stateplane.csv
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/trailer.dxf
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/vdv452.xml
.snap/auxdata/gdal/gdal-3-0-0/share/gdal/vdv452.xsd
.snap/auxdata/gdal/gdal-3-0-0/share/man/man1/cct.1
.snap/auxdata/gdal/gdal-3-0-0/share/man/man1/cs2cs.1
.snap/auxdata/gdal/gdal-3-0-0/share/man/man1/geod.1
.snap/auxdata/gdal/gdal-3-0-0/share/man/man1/gie.1
.snap/auxdata/gdal/gdal-3-0-0/share/man/man1/proj.1
.snap/auxdata/gdal/gdal-3-0-0/share/man/man1/projinfo.1
.snap/auxdata/gdal/gdal-3-0-0/share/man/man3/geodesic.3
.snap/auxdata/gdal/gdal-3-0-0/share/man/man3/pj_init.3
.snap/auxdata/gdal/gdal-3-0-0/share/proj/CH
.snap/auxdata/gdal/gdal-3-0-0/share/proj/GL27
.snap/auxdata/gdal/gdal-3-0-0/share/proj/ITRF2000
.snap/auxdata/gdal/gdal-3-0-0/share/proj/ITRF2008
.snap/auxdata/gdal/gdal-3-0-0/share/proj/ITRF2014
.snap/auxdata/gdal/gdal-3-0-0/share/proj/nad.lst
.snap/auxdata/gdal/gdal-3-0-0/share/proj/nad27
.snap/auxdata/gdal/gdal-3-0-0/share/proj/nad83
.snap/auxdata/gdal/gdal-3-0-0/share/proj/null
.snap/auxdata/gdal/gdal-3-0-0/share/proj/other.extra
.snap/auxdata/gdal/gdal-3-0-0/share/proj/proj.db
.snap/auxdata/gdal/gdal-3-0-0/share/proj/projjson.schema.json
.snap/auxdata/gdal/gdal-3-0-0/share/proj/world
.snap/auxdata/netcdf_natives/8.0.0/amd64/hdf5_hl.dll
.snap/auxdata/netcdf_natives/8.0.0/amd64/hdf5.dll
.snap/auxdata/netcdf_natives/8.0.0/amd64/libcurl.dll
.snap/auxdata/netcdf_natives/8.0.0/amd64/libcurl.so.4
.snap/auxdata/netcdf_natives/8.0.0/amd64/libhdf5_hl.so.9.0.0
.snap/auxdata/netcdf_natives/8.0.0/amd64/libhdf5.so.9.0.0
.snap/auxdata/netcdf_natives/8.0.0/amd64/libz.so.1
.snap/auxdata/netcdf_natives/8.0.0/amd64/netcdf.dll
.snap/auxdata/netcdf_natives/8.0.0/amd64/zlib1.dll
.snap/auxdata/netcdf_natives/8.0.0/x86/hdf5_hl.dll
.snap/auxdata/netcdf_natives/8.0.0/x86/hdf5.dll
.snap/auxdata/netcdf_natives/8.0.0/x86/libcurl.dll
.snap/auxdata/netcdf_natives/8.0.0/x86/netcdf.dll
.snap/auxdata/netcdf_natives/8.0.0/x86/zlib1.dll
.snap/auxdata/netcdf_natives/8.0.0/x86_64/libapple_nghttp2.dylib
.snap/auxdata/netcdf_natives/8.0.0/x86_64/libcurl.4.dylib
.snap/auxdata/netcdf_natives/8.0.0/x86_64/libhdf5_hl.200.dylib
.snap/auxdata/netcdf_natives/8.0.0/x86_64/libhdf5.200.dylib
.snap/auxdata/netcdf_natives/8.0.0/x86_64/libnetcdf.dylib
.snap/auxdata/netcdf_natives/8.0.0/x86_64/libsz.2.dylib
.snap/auxdata/netcdf_natives/8.0.0/x86_64/libz.1.dylib
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-linux64/bin/opj_compress
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-linux64/bin/opj_decompress
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-linux64/bin/opj_dump
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-macosx/bin/libopenjp2.dylib
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-macosx/bin/opj_compress
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-macosx/bin/opj_decompress
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-macosx/bin/opj_dump
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win32/bin/libopenjp2.dll
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win32/bin/opj_compress.exe
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win32/bin/opj_decompress.exe
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win32/bin/opj_dump.exe
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win64/bin/libopenjp2.dll
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win64/bin/openjp2.dll
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win64/bin/opj_compress.exe
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win64/bin/opj_decompress.exe
.snap/auxdata/openjpeg/8.0.0/openjpeg-2.1.0-win64/bin/opj_dump.exe
.snap/auxdata/s2tbx/biophysical/2_1/Algo_S2_V2.1_SL2T_FAPAR.xlsx
.snap/auxdata/s2tbx/biophysical/2_1/Algo_S2_V2.1_SL2T_FCOVER.xlsx
.snap/auxdata/s2tbx/biophysical/2_1/Algo_S2_V2.1_SL2T_LAI_Cab.xlsx
.snap/auxdata/s2tbx/biophysical/2_1/Algo_S2_V2.1_SL2T_LAI_Cw.xlsx
.snap/auxdata/s2tbx/biophysical/2_1/Algo_S2_V2.1_SL2T_LAI.xlsx
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_Denormalisation
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_ExtremeCases
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_Normalisation
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_TestCases
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/2_1/FAPAR/FAPAR_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/FCOVER/FCOVER_Denormalisation
.snap/auxdata/s2tbx/biophysical/2_1/FCOVER/FCOVER_ExtremeCases
.snap/auxdata/s2tbx/biophysical/2_1/FCOVER/FCOVER_Normalisation
.snap/auxdata/s2tbx/biophysical/2_1/FCOVER/FCOVER_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/2_1/FCOVER/FCOVER_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/FCOVER/FCOVER_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/2_1/FCOVER/FCOVER_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_Denormalisation
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_ExtremeCases
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_Normalisation
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_TestCases
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/2_1/LAI/LAI_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_Denormalisation
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_ExtremeCases
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_Normalisation
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_TestCases
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cab/LAI_Cab_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_Denormalisation
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_ExtremeCases
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_Normalisation
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/2_1/LAI_Cw/LAI_Cw_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/Algo_LANDSAT8OLI_FAPAR.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/Algo_LANDSAT8OLI_FCOVER.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/Algo_LANDSAT8OLI_LAI.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FAPAR/FAPAR_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/FCOVER/FCOVER_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/LANDSAT8/LAI/LAI_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/Algo_S2_V2.0_SL2T_FAPAR.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A/Algo_S2_V2.0_SL2T_FCOVER.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A/Algo_S2_V2.0_SL2T_LAI_Cab.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A/Algo_S2_V2.0_SL2T_LAI_Cw.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A/Algo_S2_V2.0_SL2T_LAI.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FAPAR/FAPAR_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FAPAR/FAPAR_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FAPAR/FAPAR_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FAPAR/FAPAR_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FAPAR/FAPAR_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FAPAR/FAPAR_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FAPAR/FAPAR_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FCOVER/FCOVER_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FCOVER/FCOVER_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FCOVER/FCOVER_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FCOVER/FCOVER_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FCOVER/FCOVER_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FCOVER/FCOVER_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/FCOVER/FCOVER_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI/LAI_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI/LAI_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI/LAI_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI/LAI_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI/LAI_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI/LAI_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI/LAI_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cab/LAI_Cab_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cab/LAI_Cab_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cab/LAI_Cab_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cab/LAI_Cab_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cab/LAI_Cab_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cab/LAI_Cab_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cab/LAI_Cab_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cw/LAI_Cw_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cw/LAI_Cw_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cw/LAI_Cw_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cw/LAI_Cw_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cw/LAI_Cw_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cw/LAI_Cw_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A/LAI_Cw/LAI_Cw_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/Algo_S2_V2.0_SL2T_10m_FAPAR.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/Algo_S2_V2.0_SL2T_10m_FCOVER.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/Algo_S2_V2.0_SL2T_10m_LAI.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_TestCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FAPAR/FAPAR_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_TestCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/FCOVER/FCOVER_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_TestCases
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2A_10m/LAI/LAI_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/Algo_S2B_FAPAR.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B/Algo_S2B_FCOVER.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B/Algo_S2B_LAI_Cab.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B/Algo_S2B_LAI_Cw.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B/Algo_S2B_LAI.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_TestCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FAPAR/FAPAR_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_TestCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/FCOVER/FCOVER_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_TestCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI/LAI_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_TestCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cab/LAI_Cab_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B/LAI_Cw/LAI_Cw_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/Algo_S2_V2.0_SL2B_10m_FAPAR.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/Algo_S2_V2.0_SL2B_10m_FCOVER.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/Algo_S2_V2.0_SL2B_10m_LAI.xlsx
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FAPAR/FAPAR_Weights_Layer2_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_DefinitionDomain_Grid
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_DefinitionDomain_MinMax
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_Denormalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_ExtremeCases
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/FCOVER/FCOVER_Normalisation
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_Weights_Layer1_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_Weights_Layer1_Neurons
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_Weights_Layer2_Bias
.snap/auxdata/s2tbx/biophysical/3_0/S2B_10m/LAI/LAI_Weights_Layer2_Neurons
.snap/auxdata/sm_luts/IEM_cb_nt_RDC_RSAT2_QP.luthdr
.snap/auxdata/sm_luts/IEM_cb_nt_RDC_RSAT2_QP.mat
.snap/auxdata/sm_luts/IEMC_cb_nt_RDC_RSAT2_QP.luthdr
.snap/auxdata/sm_luts/IEMC_cb_nt_RDC_RSAT2_QP.mat
.snap/auxdata/sm_luts/soil_moisture.config
.snap/epsg-database/v8.6.0.1/EPSG_creation_marker.txt
.snap/epsg-database/v8.6.0.1/EPSG.data
.snap/epsg-database/v8.6.0.1/EPSG.properties
.snap/epsg-database/v8.6.0.1/EPSG.script
.snap/etc/s2tbx.properties
.snap/etc/snap.properties
.snap/product-library/products.mv.db
experimental/clip_s3_LST_v2.py
experimental/clip_s3_LST.py
experimental/convert_LC_CCI_totiff.py
experimental/test_bounds.py
experimental/brianprocessor.py
experimental/test_brian_S2.json
experimental/test_interpolation.ipynb
experimental/test_brian_S2.py
experimental/S3_sharpening_erwin.py
experimental/test.py
experimental/test_load_TS.py
experimental/check_s2_data.py
experimental/test_warp.py
