FSX_API_HOST=https://foodsecurity-explorer.ope.insula.earth/secure/api/v2.0
REALM=foodsecurity-tep
KEYCLOAK_JWKS_URL=https://identity.ope.insula.earth/realms/foodsecurity-tep/protocol/openid-connect/certs
KEYCLOAK_URL=https://identity.ope.insula.earth/
REDIRECT_URL=http://localhost:9207/auth
CLIENTID=api-client
USERNAME=xxxxxxx
PASSWORD=xxxxxx
COLLECTION_NAME=xxxxxxx
# file types can be SHAPEFILE, GEOTIFF, OTHER
FILE_TYPE=GEOTIFF
PATH_TO_CSV=/path/to/my-file.csv
FILES_INPUT_DIR=/path/to/my/tifs-directory/

